//colors
$sixty: #ffffff;
$thirty: #000000;
$ten: #2256F2;

//font sizes
//mobile
$mobile-h1: 36px;
$mobile-h2: 24px;
$mobile-p: 18px;
$mobile-caption: 14px;

//tablet/desktop
$h1: 48px;
$h2: 36px;
$p: 24px;
$caption: 18px;