@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

html{
  font-size: 10px;
}

body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App{
}

.semi-bold{
  font-weight: 500;
}

.bold{
  font-weight: 600;
}

.ten{
  color: $ten;
}